[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
dj-database-url = "*"
django-heroku = "*"
python-decouple = "*"
gunicorn = "*"
django-cors-middleware = "*"
newrelic = "*"
drf-yasg = "*"
django-oauth-toolkit = "*"

[dev-packages]
pylint = "*"
"pep8" = "*"
"autopep8" = "*"

[requires]
python_version = "3.7"
